@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
body{
    background-color: #9F9F9F;
    font-family: 'Poppins', sans-serif;
}
/*-------------------
 Top player
-------------------- */

main{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container{
    background-color: #ffffff;
   padding: 30px;
   margin-bottom: 20px;
   border-radius: 5px;
    width: 870px;
}
.section-title{
    color: #562EFF;
    margin-top: 3px;
    font-size: 24px;
    
}
.players{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 30px;
 
}
.player{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
 
}
.player img{
    width: 56px;
    height: 56px;
}
.player-name{
    margin-left: 16px;
}
hr{
    border: 1px solid #D1D1D1;
    width: 870px;
    margin-top: 29px;
    margin-bottom: 27px;
}
 /* --------------

 Top blogs

 ------------ */
 .blogs{
     margin-top: 30px;
     display: grid;
     grid-template-columns: repeat(2,1fr);
     grid-row-gap: 26px;
 }
.blog{
    display: flex;
    justify-content: space-evenly;

}


 .thumbnail img{
    width: 177px;
    height: 117px;
 }
.blog-details{
    margin-left:16px;
}
.blog-autor{
    color: #9F9F9F;
    font-size: 16px;
}
.blog-autor a{
    text-decoration: none;
}


/* --------------
course style
-------------- */
.courses{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-column-gap: 26px;
}
 .course{
    Width :252.42px;
    Height:288px;
   
    box-shadow:(0px 5.34229px 13.3557px rgba(61, 42, 42, 0.05));
 }
 .course-image img {
    width: 224px;
    height: 104px;
 }
 .course-autor{
     color:   #ED6B4F;
     
 }
 .course-info{
     display: flex;
     justify-content: space-between;
 }
 .fa-star.filled{
    color:#FFC014;
}
.fa-star.empty{
    color:#AEAEAE;
}
.course-time{
  
    border-radius:15px ;
    background-color: #FFE4E8;;
    color:palevioletred;
}
/*-----------------
 media quaty
 --------------------- */
 /* ----mobile ----*/

@media only screen and (max-width:688px) {
    .container{
        width: 100%;
    }
    .players{
        grid-template-columns: repeat(1, 1fr);
    }
    .player{
        flex-direction: column;
        align-items: center;
    }
    .blogs, .courses{
        display: none;
    }
}
